.App {
  text-align: center;
}

h1,th, .title-nav,h2{
  font-variant: small-caps;
}
.title-nav{
  font-size:xx-large;
  font-family:  papyrus,"Brush Script MT", cursive;

}

h1{
  color:rgb(84, 0, 162);
  font-weight: bold;
  font-size: 3rem;

}

.sub-title{
  color:rgb(84, 0, 162);
  font-weight: bold;  
  font-size: 2.25rem;
}


.NavBar{
  background-color: rgb(124, 50, 193);
  margin-bottom: 2rem;
}

.button-course,
.button-course:active,
.button-course:visited,
.button-course:focus{
  background-color: transparent;
  
  border: solid rgb(124, 50, 193);
  outline: 0;
  box-shadow:none;
}

.button-course:hover{
  background-color: rgb(124, 50, 193); 
  border: solid rgb(124, 50, 193);
  outline: 0;
  box-shadow:none;
  color:white;  
}

.button-course>i{
  color:rgb(124, 50, 193); 

}

.button-course:hover>i{
  color:inherit;
}

.row-separation{
  border-bottom: 0.15rem solid rgba(151, 98, 200, 0.686);
}

.btn-purple{
  color:rgb(124, 50, 193);
  border: solid 1px rgb(124, 50, 193);
}

.btn-purple:active,
.btn-purple:visited,
.btn-purple:focus,
.btn-purple:hover{
  color:white;
  background-color: rgb(124, 50, 193);
}
td,th{
  vertical-align:middle;
}

.title-table{
  margin-bottom: 1.5rem;
}


.not-logged-icon{
  opacity: 50%;
}

.form-check-type{
  padding: -7rem 0;
}

ul{
  list-style-type:none;
}